@{
    Layout = null;
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <input type="email" name="email" placeholder="Enter your email" required />
    <button type="submit">Send reset link</button>
}
