@model Complaint_Hostel_system.Models.AdminModel

@{
    ViewBag.Title = "Admin Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Profile</h2>

<div class="card mt-3 p-4">
    <dl class="row">
        <dt class="col-sm-3">Admin ID</dt>
        <dd class="col-sm-9">@Model.AdminId</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.AdminName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.AdminEmail</dd>
    </dl>
</div>

